<% for(var i = 0; i < foodItems.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= foodItems[i].item %></td>
    <td><%= foodItems[i].price %></td>
    <td><%= foodItems[i].category %></td>
    <td><%= foodItems[i].todayspecial %></td>
    <td><%= foodItems[i].isAvailable %></td>
    <td class="action-btns">
       
            <a href="/update-foodItem?id=<%= foodItems[i]._id%>" class="btn border-shadow update">

            <span class="text-gradient">edit</span>
        </a>
        <!-- <a class="btn border-shadow delete" data-id=<%= foodItems[i]._id%> >
            <span class="text-gradient"> X </span>
        </a> -->
    </td>
</tr>
<% } %>